@font-face{
    font-family: "symbols"; 
    src: url('fonts/tngan.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "aniron"; 
    src: url('fonts/anicb___.ttf'), url('fonts/anicm.ttf');
    font-weight : bold;
    font-weight: normal;
}
@font-face{
    font-family: "textes"; 
    src: url('fonts/partybusiness.ttf');
    font-weight: normal;
}
.container-fluid{
    padding: 0;
    margin :0;
    font-family: "textes";
    font-weight : normal;
    font-size: 1.6rem;
    overflow: hidden;
}
h3{
    font-family: "aniron";
    font-weight : normal;
    font-size:1.8rem;
}
h3, .content{
    padding: 5vh;
}
.navbar{
    background-color: #fe661d;
}

@media screen and (min-width: 992px){
    #menu ul li .separate{
    border-right: 1px solid white;
    }
}

/* hover navbar */
#menu ul li a:hover{
    text-decoration: underline;
    color: white !important;
}

.carousel-caption p{
    font-size: 3rem;
}
.carousel-caption p #subtext{
    font-size: 2.5rem;
}
#fellows{
    background-color: #f0ede6;
}
#fellows h3 #subtexth3{
    font-size: 1.2rem;
}
h3 .symbols{
    font-family: "symbols";
    color: #fe661d;
}
.nav-pills li a{
    color : black;
}

.nav-pills li a:active, .nav-pills li a:hover{
    color : #fe661d;
    text-decoration: underline;
}

#fellows ul li a{
    text-align : center;
}
#fellows ul li a .symbols{
    display:none;
}
.wanted .card{
    background-color: black;
    overflow: hidden;
    border : 3px solid black !important;
}
.wanted .card-body{
    background-color: black;
    border: 3px solid black;
}
.amount{
    color:#ffbf00;
  }
.imageEtTexte img{
    opacity : 0.6;
    width : 100%;
}
.reward{
    background-color: rgba(255, 255, 255, 0.7);
    text-align : center;
    font-size : 2.5rem;
    border-radius : 35px;
    margin-bottom: 5vh;
  }
.dead{
    color : #fe661d;
    font-weight:bold;
    font-size : 2.5rem;
    text-align : center;
    margin-top:10%;
}
.name{
    text-align : center;
    color : white;
    font-weight: bold;
    font-size : 2rem;
}
.name_dead{
    text-align : center;
    color : black;
    font-weight: bold;
    font-size : 2rem;
}
.hunter{
    padding-top: 2vh;
}

/* hover */
#fellows ul li a:hover{
    text-decoration: none;
}
#fellows ul li a:hover .underlined{
    border-bottom: 3px solid #fe661d;
}
#fellows ul li a:hover .symbols{
    display:inline;
    font-family: "symbols";
    color: #fe661d;
}
.imageEtTexte:hover img, .imageEtTexte:active img{
    opacity : 1;
}
.imageEtTexte:hover .reward, .imageEtTexte:active .reward{
    display: none;
}
.imageEtTexte:hover .dead, .imageEtTexte:active .dead{
    display: none;
}
.imageEtTexte:hover .name_dead, .imageEtTexte:active .name_dead{
    margin-top: 30%;
    color : white;
    font-size : 2.5rem;
    text-decoration: line-through solid #fe661d;
}
.imageEtTexte:hover .name, .imageEtTexte:active .name{
    margin-top: 30%;
    font-size : 2.5rem;
}

/* media queries*/
@media screen and (max-width: 575.98px){
    .reward{
        font-size : 1.8rem;
    }
    .dead{
        font-size : 1.8rem;
    }
    .name{
        display:none;
    }
    .name_dead{
        display:none;
    }
    .imageEtTexte:hover .name_dead, .imageEtTexte:active .name_dead{
        display:flex;
        justify-content: center;
        color : white;
        font-weight: normal;
        font-size : 2rem;
    }
    .imageEtTexte:hover .name, .imageEtTexte:active .name{
        display:flex;
        justify-content: center;
        font-weight: normal;
        font-size : 2rem;
    }
    .pills{
        padding-top: 0px;
    }
}
@media screen and (max-width: 768px){
    .card{
        margin-top: 5vh;
    }
    .reward-img{
        display:none;
    }
}
@media screen and (max-width: 1168px) and (min-width:768px){
    .dead{
        font-size : 2rem;
    }
    .reward{
        font-size : 1.9rem;
    }
    .name{
        display:none;
    }
    .name_dead{
        display:none;
    }
    .imageEtTexte:hover .name_dead, .imageEtTexte:active .name_dead{
        display:flex;
        justify-content: center;
        color : white;
        font-weight: normal;
        font-size : 1.9rem;
    }
    .imageEtTexte:hover .name, .imageEtTexte:active .name{
        display:flex;
        justify-content: center;
        font-weight: normal;
        font-size : 1.9rem;
    }
}

#hunters .best_hunters{
    margin-left:5vh;
    margin-bottom: 5vh;
}

#reward{
    background-color: black;
    color:white;
}
#contact_reward{
    color:#fe661d;
    background-color: white;
    font-size: 1.8rem;
}

/* About the ring */

#ring{
    background-color: black;
    padding-bottom: 5vh;
}
#ring h3{
    color:white;
}
#ring .card{
    margin:5vh;
}

/* table */
table th,td{
    border : 1px solid black;
}
table th{
    background-color: dimgray;
}
table tr th{
    padding:1vh;
}
table tr td{
    padding:1vh;
}
#info_army{
    margin:5vh;
}
#contact{
    background-color: black;
}
#contact h3{
    color:white;
}
label{
    color:white;
}

/* footer */
footer{
    color:white;
    background-color: #fe661d;
}
footer li{
    list-style-type: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align:center;
}
footer a{
    color: white;
}