#container {
    width: 100%;
    background-color: #f3f1e8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container #myPrecious {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }
  #container #myPrecious p {
    margin-top: 2vh;
    font-size: 34px;
  }
  #container #myPrecious .preciousRing {
    border: 3px solid #ff6904;
    box-shadow: inset 2px 2px 2px #ff6904, 2px 2px 2px #ff6904;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: 2vh;
    margin-right: 2vh;
  }
  #container #theOneRing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }
  #container #theOneRing p {
    margin-top: 2vh;
    font-size: 34px;
  }
  #container #theOneRing .oneRing {
    border: 3px solid #fcca02;
    box-shadow: inset 2px 2px 2px #fcca02, 2px 2px 2px #fcca02;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: transparent;
    margin-right: 2vh;
  }
  #container #pleaseFindIt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  #container #pleaseFindIt div {
    border: 3px solid #343434;
    box-shadow: inset 2px 2px 2px #343434, 2px 2px 2px #343434;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .loopRings:nth-child(1) {
    width: 25px;
    height: 25px;
    margin-left: -12px;
  }
  
  .loopRings:nth-child(2) {
    width: 50px;
    height: 50px;
    margin-left: -12px;
  }
  
  .loopRings:nth-child(3) {
    width: 75px;
    height: 75px;
    margin-left: -12px;
  }
  
  .loopRings:nth-child(4) {
    width: 100px;
    height: 100px;
    margin-left: -12px;
  }
  
  .loopRings:nth-child(5) {
    width: 125px;
    height: 125px;
    margin-left: -12px;
  }
  
  .loopRings:nth-child(6) {
    width: 150px;
    height: 150px;
    margin-left: -12px;
  }
  
  #pleaseText {
    margin-top: -4vh;
    font-size: 34px;
  }